$primary: #037693;
$primary-black:#2d2d2d;
$back-black: #0d0d0d;
$nav-item-back-black: #1e1d1d;
$primary-white: #fff;
$secondary-white: #c2c2c2;
$interact-signs: #f1b451;
$green: #4ca59a;
$dark-orange: #f26250;
$yellow-orange: #f0a765;
$partners-back: #323131;
